@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #24252A;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 500px;
}

.accordion {
    background-color: #fff;
    border-radius: 8px;
    padding: 12px;
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.accordion-header {
    width: 100%;
    border: none;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    cursor: pointer;
}

.accordion-header span {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.accordion-body {
    color: #444;
    font-size: 14px;
    padding: 5px 0px;
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: opacity .3s;
}

.accordion-body.active {
    height: 100%;
    opacity: 1;
}

.arrow{
    transition: transform .2s linear;
}

.accordion:has(.active) .arrow {
    transform: rotate(180deg);
}