<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registro</title>
    <link rel="stylesheet" th:href="@{/registro-styles.css}">
</head>
<body>
  <div class="registro">
    <form th:action="@{/registro}" method="post" th:object="${usuario}">
      <h2>Registro</h2>
        <div class="input-field">
          <input type="text" th:field="*{nome}" required>
          <label>Insira seu nome</label>
        </div>
        <div class="input-field">
          <input type="email" th:field="*{email}" required>
          <label>Insira seu email:</label>
        </div>
        <div class="input-field">
          <input type="password" th:field="*{senha}" required>
          <label>Insira sua senha</label>
        </div>

        <div class="input-field">
          <input type="password" name="confirmacaoSenha" required>
          <label>Confirme sua senha</label>
        </div>

        <button type="submit">Registrar</button>
        <div class="register">
          <p>Já tem uma conta? <a th:href="@{/login}">Login</a></p>
        </div>
    </form>
  </div>
</body>
</html>